<input #checkbox1 type ="checkbox" name="toggle" id="toggle">
<label for="toggle"></label>

<div class="container">
</div>

<div class="formAdd">
    <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <input type="hidden" name="id" [value]="empService.employeeData.id">
                
                    <label for="name" class="float-left">Name</label>
                    <div class="float-right" *ngIf="name.invalid && (name.touched || name.dirty)">
                        <p class="text-danger">Required</p>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Enter Name" #name="ngModel" [(ngModel)]="empService.employeeData.name" required>

                </div>

                <div class="col-md-3">
                    <label for="lastname" class="float-left">Last Name</label>
                    <div class="float-right" *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                        <p class="text-danger">Required</p>
                    </div>
                    <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name" #lastname="ngModel" [(ngModel)]="empService.employeeData.lastName" required>

                </div>

                <div class="col-md-3">
                    <label for="email" class="float-left">Email</label>
                    <div class="float-right" *ngIf="email.invalid && (email.touched || email.dirty)">
                        <p class="text-danger">Required</p>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email" #email="ngModel" [(ngModel)]="empService.employeeData.email" required>

                </div>

                <div class="col-md-3">
                    <label for="age" class="float-left">Age</label>
                    <div class="float-right" *ngIf="age.invalid && (age.touched || age.dirty)">
                        <p class="text-danger">Required</p>
                    </div>
                    <input type="number" name="age" class="form-control" placeholder="Enter Age" #age="ngModel" [(ngModel)]="empService.employeeData.age" required>

                </div>

            </div>
            <div class="row">
                
                <div class="col-md-3">
                    <label for="date" class="float-left">Date of Joining</label>
                    <div class="float-right" *ngIf="doj.invalid && (doj.touched || doj.dirty)">
                        <p class="text-danger">Required</p>
                    </div>
                    <input type="date" name="doj" class="form-control" placeholder="Enter Your Date of Joining" #doj="ngModel" [(ngModel)]="empService.employeeData.doj" required>

                </div>

                <div class="col-md-3">
                    <label for="designation" class="float-left">Designation</label>
                    <div class="float-right" *ngIf="designationId.value==0 && designationId.touched">
                        <p class="text-danger">Required</p>
                    </div>
                    <select name="designationId" class="form-control" #designationId="ngModel" [(ngModel)]="empService.employeeData.designationId" required>
                        <option value="0">Please Select</option>
                        <option [ngValue]="desg.id" *ngFor="let desg of empService.listDesignation">{{desg.designation}}</option>

                    </select>
                </div>

                <div class="col-md-6">
                    <label for="gender">Gender</label>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" checked="true" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="male">Male
                                </label>
                              </div>

                              <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="female">Female
                                </label>
                              </div>

                              <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="others">Others
                                </label>
                              </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="checkbox" checked="true" class="form-check-input" name="isMarried" #isMarried="ngModel" [(ngModel)]="empService.employeeData.isMarried">Married
                                </label>
                              </div>

                              <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="checkbox" checked="true" class="form-check-input" name="isActive" #isActive="ngModel" [(ngModel)]="empService.employeeData.isActive">Active
                                </label>
                              </div>

                        </div>

                    </div>  
                         
                </div>

            </div>

            <div class="row">
                <div class="col-md-8"></div>

                <div class="col-md-2">
                    <button type="submit" [disabled]="designationId.value==0" class="btn btn-success btn-block">Save</button>
                </div>

                <div class="col-md-2">
                    <button type="reset" class="btn btn-danger btn-block">Cancel</button>
                </div>
            </div>

        </div>

    </form>

</div>
